<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <th:block th:replace="~{fragments/base :: assetsHead}"></th:block>

</head>

<body>

    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="app-container center-page">
        <div class="product-card center-content">
            <h1 th:text="${message}">Four Loop</h1>
            <p class="fs-5">We are a group of students in the Computer Programming and
                Computer Systems Analysis programs demonstrating our understanding of
                Spring Boot by applying our knowledge outside the classroom. </p>

            <img src="https://media1.tenor.com/m/wNyAB3uTpH0AAAAC/anchorman-jump.gif" alt="Team Celebration">
        </div>
    </div>

    <div th:replace="~{fragments/base :: assetsScripts}"></div>
</body>

</html>