<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <div th:insert="fragments/base :: assetsHead"></div>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<main class="app-container text-center">
  <div class="product-card">
    <h1 th:text="${message}">Welcome</h1>
    <h5>To our online inventory e-commerce website!</h5>
    <section class="mt-5 mb-5 fs-5">
      <p>
        This platform allows users to easily browse and manage product inventory in one convenient place.
        Here you can view your product inventory, search and filter products to quickly find what you need, and keep track of available items. Our goal is to make inventory management simple, organized, and accessible.
        If you have an admin account, you will also be able to update and manage the product list. </p>
      <p>
        Click the button below to explore the available products and see how the system works.
      </p>
      <a th:href="@{/products}" class="btn btn-primary btn-lg">Get Started</a>
    </section>

  </div>
</main>

<div th:insert="fragments/base :: assetsScripts"></div>
</body>
</html>